@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto:100,200,300,400,500,600,700|Rokkitt:100,200,300,400,500,600,700&display=swap');

/* ------------------------------------------------------------------- General Styling */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.bg-color-navbar {
  background-color: #ea8641;
  padding: 5px;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 0;
  border: none;
  font-weight: 100;
}

/* ------------------------------------------------------------------- General Styling */

.uppercase {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

#nav {
  margin: 0;
}

.active {
  border-bottom: 2px solid #000;
}

/* ------------------------------------------------------------------- Header */

.navbar-container {
  min-height: 60px;
}

.logo {
  margin-left: 20px;
  color: #000;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
  font-size: 2rem;
}

.logo:hover {
  text-decoration: none;
  color: #000;
}

.menu-item .nav-link {
  text-align: center;
  letter-spacing: 2px;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.menu-item .nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

/* ------------------------------------------------------------------- Footer */

footer {
  background-color: #525255;
  min-height: 120px;
  padding: 30px;
}

.footer-heading {
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-weight: 100;
  letter-spacing: 1px;
}

footer p {
  text-align: center;
  font-size: 0.85rem;
}

footer h4,
footer p,
footer button,
footer i {
  color: #fafafa;
  font-weight: 100;
}

footer i {
  font-size: 1.25rem;
  margin: 10px;
}

.footer-item {
  margin: 20px 0;
}

.footer-content {
  margin: 0 auto;
  max-width: 1200px;
}
/* ------------------------------------------------------------------- Hero Section */

.hero-image-container {
  position: relative;
  height: 70vh;
  padding: 0;
  margin-bottom: 25px;
}

.overlay-hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1));
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  /* Photo by Vishnu R Nair on Unsplash */
  background-image: url('/Users/patrickmarre/Desktop/ngo/full_stack_cert/html_css/user_centric_dev/milestone_project/assets/images/hero_img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-container {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.heading {
  font-family: 'Monoton', sans-serif;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  letter-spacing: 2px;
}

/* ------------------------------------------------------------------- Band Member Section */

.band-members {
  margin-bottom: 60px;
  max-width: 1200px;
}

.band-member-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Rokkitt', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 3rem;
}

.card {
  margin: 10px auto;
}

.band-member-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 0;
}

.instrument {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* ------------------------------------------------------------------- Contact */

.contact-img img {
  width: 70%;
  margin: 40px auto;
}

.form-center {
  max-width: 60%;
  margin: 40px auto;
}

.contact-form-container {
  border-left: 2px solid;
  border-image-source: linear-gradient(#000, transparent);
  border-image-slice: 1;
}

.form-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}

.form-small {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0 auto 20px;
  font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
}

.contact-section {
  max-width: 1800px;
}

/* ------------------------------------------------------------------- Tour Section */

.tour-section {
  width: 70%;
  margin-top: 60px;
}

.tour-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 100;
}

.tour-date-list {
  margin-bottom: 20px;
}

.tour-date-list h4 {
  font-family: 'Rokkitt', serif;
  font-weight: 100;
  margin: 0;
}

.location {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
}

.concert-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.concert-date,
.location {
  color: #a3b5bf;
}

.tour-date-list:hover .concert-date,
.tour-date-list:hover .location {
  color: #000;
  cursor: pointer;
}

/* ------------------------------------------------------------------- Media Queries */

@media (max-width: 776px) {
  .list-inline-item:not(:last-child) {
    margin-right: 0;
  }

  .form-center {
    max-width: 80%;
  }
}
