/* ---------------------------------------- Imports ------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.5;
}

.fas {
  font-size: 2rem;
  color: #3ab86f;
}

/* ----------------------------------------- Hero Section ----- */
header {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  z-index: 10;
}

#hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    rgb(85, 51, 255) 15%,
    rgb(5, 213, 255) 70%,
    rgb(166, 255, 203) 94%
  );
}

.hero-heading {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
}

.hero-subheading {
  font-size: 1rem;
  margin-bottom: 60px;
  color: #fff;
}

.search-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.search-bar {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}

.search-bar:focus {
  outline: none;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  flex: 1;
  margin: 10px auto;
  width: 150px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025rem;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-random-recipe {
  background-color: #fff;
  color: #000;
  order: 3;
}

.btn-search-recipe {
  background-color: rgb(166, 255, 203);
  color: #000;
  margin-top: 20px;
}

/* ---------------------------------------- Top Recipes Section ------- */
.top-recipes-container {
  width: 80%;
  margin: 60px auto 120px;
}

.top-recipes-header {
  font-size: 1.75rem;
  margin: 20px auto 0;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #737373;
  border-bottom: 4px solid #05d5ff;
  width: 240px;
  text-align: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 60px 0;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-top: 200px;
  background-color: coral;
  margin: 0 auto;
  background-image: url('./images/spinach-chicken-pomegranate-salad-5938.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipe-details {
  padding: 10px;
  background-color: #fff;
  margin: -40px auto 0;
  text-align: center;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 10px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recipe-card-heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 2px solid #05d5ff;
  padding-bottom: 4px;
  margin-bottom: 10px;
  letter-spacing: 0.025rem;
}

.recipe-card-cook-time {
  color: gray;
  margin-bottom: 10px;
}

.recipe-card-description {
  margin-top: 10px;
  padding: 5px;
}

.recipe-card-view-recipe {
  background-color: #a6ffcb;
  color: #000;
  max-height: 50px;
  justify-self: bottom;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

/* ---------------------------------------- Full Recipe Cards ------- */

.recipe-card-list {
  width: 100%;
}

.recipe-inner-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.full-recipes {
  width: 100%;
}

.full-recipe-container {
  /* box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2); */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.8s ease-in-out;
  border: 3px solid #f6f9fc;
}

.banner-img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-recipe-header {
  padding: 30px;
}

.ingredient-list,
.instruction-list {
  /* -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px; */

  padding: 30px;
}

.ingredient-list h4,
.instruction-list h4 {
  font-size: 1.5rem;
  color: #3ab86f;
  letter-spacing: 0.025rem;
}

.ingredient-list li {
  line-height: 1.5;
  text-transform: capitalize;
  margin: 20px 0 10px 40px;
}

.instruction-list li {
  line-height: 1.5;
  margin: 20px 0 10px 40px;
}

.recipe-summary a {
  display: inline;
  line-height: 1.5;
}

.back-btn {
  background-color: #a6ffcb;
  margin-bottom: 30px;
}

.full-recipe-title {
  margin: 20px 0;
}

.full-recipe-heading {
  color: #05d5ff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.025rem;
}

.full-recipe-title p {
  color: #737373;
  font-size: 0.85rem;
}

.summary-heading {
  color: #3ab86f;
  font-size: 1.5rem;
  letter-spacing: 0.025rem;
  margin-bottom: 10px;
}

/* ---------------------------------------- Fun Facts Section ------- */
.trivia-container {
  width: 100%;
  height: 100vh;
  background-color: #f6f9fc;
  position: relative;
  display: flex;
}

.trivia-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f9fc;
  transform: skewY(-12deg);
  transform-origin: 0;
  z-index: -2;
  overflow: hidden;
}

.fun-facts {
  z-index: 100;
  height: 100%;
}

/* ---------------------------------------- About Section ------- */
.about-container {
  width: 90%;
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.access-information,
.other-information {
  padding: 30px 20px;
}

.access-information {
  border-bottom: 2px solid #f6f9fc;
  margin-top: 40px;
  padding-bottom: 60px;
}

.about-heading {
  color: #3ab86f;
  margin: 10px;
  padding: 10px;
  letter-spacing: 0.025rem;
}

.about {
  line-height: 1.5;
  padding: 10px;
  margin: 10px;
}

.about-icon {
  background-color: #a6ffcb;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 65px !important;
  margin-left: 20px;
}

.about-link {
  color: #05d5ff;
  margin-left: 20px;
  font-size: 1.125rem;
  border-bottom: 2px solid #05d5ff;
  width: 163px;
  padding-bottom: 3px;
}

.about-link .fas {
  color: #05d5ff;
  font-size: 0.85rem;
}

.learn-link {
  width: 181px;
}
/* ---------------------------------------- Media Query ------- */

@media (min-width: 768px) {
  #hero-background {
    transform: skewY(-6deg);
  }

  .search-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn {
    margin: 20px 10px 0 0;
    max-width: 150px;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .hero-subheading {
    font-size: 1.5rem;
  }

  /* ---------------------------------------- Top Recipes Section ------- */
  .top-recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .top-recipes-header {
    margin: 20px 0 0;
    text-align: left;
    width: 100%;
    font-size: 2.5rem;
  }

  .recipe-details {
    width: 300px;
  }

  .recipe-card-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: 2px solid #05d5ff;
    padding-bottom: 4px;
    margin-bottom: 10px;
    letter-spacing: 0.025rem;
    padding-top: 10px;
  }

  .recipe-card-cook-time {
    color: gray;
    margin-bottom: 10px;
  }

  .recipe-card-description {
    margin-top: 10px;
    padding: 5px;
  }

  .recipe-card-view-recipe {
    background-color: #a6ffcb;
    color: #000;
    margin: 10px auto;
  }

  .trivia-container:before {
    transform: skewY(-6deg);
  }

  /* ---------------------------------------- About Section ------- */
  .about-container {
    width: 100%;
    margin-top: 0;
  }

  .about-us {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #f6f9fc;
    margin-bottom: 40px;
  }

  .access-information,
  .other-information {
    padding: 30px 20px;
    flex: 1;
  }

  .access-information {
    border-right: 2px solid #f6f9fc;
    padding-bottom: 60px;
    margin-top: 0;
    margin-left: 5%;
    border-bottom: none;
  }

  .other-information {
    margin-right: 5%;
  }
}
